*{
    color: #ffff;
}

h1{
    position: fixed;
    font-family: "Oswald", sans-serif;
    margin-top: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 70px;
}

#fundo{
    background-image: url(img/fundo.jpg);
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    background-position: center;
    height: 100vh;
    width: 100vw;
    filter: blur(1px);
}

#lamb {
    cursor: pointer;
    position: absolute;
    left: 90px;
    top: 320px;
    height: 230px;
}
#porsche{
    cursor: pointer;
    position: absolute;
    height: 310px;
    top: 260px;
    left: 700px;
}

#info-carros{
    display: none;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    transform: translate(0, -50%);
    top: 55%;
    left: 800px;

    & h2{
        font-family: "Oswald", sans-serif;
    } 
}