body {
    background-color: #f0f0f0;
    z-index: 1;

    /* LINKS SEM EFEITO */
    a {
        color: inherit;
        text-decoration: none;
    }
}

/* HEADER */
header {
    position: fixed;
    font-family: "Kanit", sans-serif;
    font-size: 25px;
    width: 100%;
    height: 65px;
    top: 0;
    left: 0;
    z-index: 10;
    color: #0f13e9;
    background-color: #f0f0f0;

    & h1 {
        cursor: pointer;
        position: relative;
        text-align: center;
        top: -45px;
    }

    & .AddKart {
        position: absolute;
        cursor: pointer;
        height: 30px;
        left: 1200px;
        top: 15px;
    }
}

.Intro {
    position: absolute;
    z-index: 3;
    font-family: "Kanit", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-color: #0f13e9;
    color: #f0f0f0;

    h2 {
        font-size: 135px;
        position: absolute;
        top: 0;
        left: 80px;
    }

    p {
        font-size: 40px;
        position: absolute;
        top: 230px;
        left: 80px;
    }

    .Model1 {

        & .Balloon {
            position: absolute;
            left: 800px;
            top: 90px;
            width: 450px;
        }

        & .CarModel {
            position: absolute;
            width: 450px;
            left: 700px;
            top: 120px;
        }
    }
}

/* OPÇÕES DE CARROS */
.Cars {
    position: relative;
    display: flex;
    gap: 20px;
    top: 550px;
    justify-content: center;

    & .CarBox {
        cursor: pointer;
        background-color: #d4d4d4;
        border-radius: 40px;
        height: 300px;
        width: 300px;
        color: black;
    }

    & .CarImg {
        position: relative;
        width: 280px;
        height: 170px;
        top: 20px;
    }

    & p {
        cursor: auto;
        position: relative;
        font-family: "PT Sans", sans-serif;
        font-size: 40px;
        left: 40px;
    }
}